{
  "githubWebhookSecret": "",
  "octokitAuthenticate": {
  	"type": "basic",
  	"username": "",
  	"password": ""
  },
  "gcpProjectId": "",
  "gcpDatasetId": "",
  "targetBranch": "refs/heads/master"
}
